@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  text-align: center;
  line-height: 1.5;
  font-family: "Red Hat Display", sans-serif;
}
:root {
  /* color*/
  --Very-pale-blue: hsl(225, 100%, 98%);
  --Desaturated-blue: hsl(224, 23%, 55%);
  --Dark-blue: hsl(223, 47%, 23%);
  --Pale-blue: hsl(225, 100%, 94%);
  --Bright-blue: hsl(245, 75%, 52%);
}
.text-Desaturated-blue {
  color: var(--Desaturated-blue);
}
.text-size {
  font-size: 16px;
}
.text-Dark-blue {
  color: var(--Dark-blue);
}
body {
  height: 100vh;
  width: 100%;
  background-color: var(--Pale-blue);
  background-image: url("images/pattern-background-desktop.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
}

.card {
  background-color: hsl(225, 100%, 98%);
  width: 450px;
  /* display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column; */
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
}

.image-size {
  width: 100%;
  object-fit: contain;
  border-radius: 20px 20px 0 0;
}

h2 {
  font-weight: 900;
}
h5 {
  margin: 10px 10px 20px 0px;
  font-size: inherit;
  font-weight: 100;
  color: var(--Desaturated-blue);
}

.music-price-container {
  display: flex;
  align-items: center;
}
.annual-price-container {
  padding: 15px;
}
.annual-plan {
  margin-bottom: 8px;
  color: var(--Dark-blue);
  font-weight: 900;
}
.annual-price {
  font-weight: 500;
  color: var(--Desaturated-blue);
}
.icon-size {
  width: 60px;
}
.change-text {
  margin-top: auto;
  margin-bottom: auto;
  font-weight: 700;
}
.price-container {
  background-color: rgba(128, 128, 128, 0.044);
  display: flex;
  border-radius: 16px;
  justify-content: space-between;
  /* margin: 30px 0px 40px 0px; */
  padding: 10px 20px;
}

.btn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.btn {
  padding: 18px;
  border-radius: 12px;
  border: none;
  font-weight: 700;
}
.proceed-btn {
  margin-bottom: 10px;
  margin-top: 30px;
  background-color: var(--Bright-blue);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  color: var(--Very-pale-blue);
}
.cancel-btn {
  background-color: transparent;
}
.container-margin {
  margin: 38px;
}

/*========= Hover ========== */
.cancel-btn:hover {
  color: var(--Dark-blue);
}
.proceed-btn:hover {
  opacity: 0.7;
}
a:hover {
  text-decoration: none;
  opacity: 0.7;
}

@media screen and (max-width: 500px) {
  .card {
    width: 90%;
  }
  .container-margin {
    margin: 10px;
  }
  .proceed-btn {
    margin-bottom: 10px;
  }
  .btn {
    margin: 7px 10px;
  }
  .price-container {
    margin: 10px 10px;
    padding: 0px 15px;
  }
  h5 {
    margin: 25px;
    font-weight: 300;
  }
  .icon-size {
    width: 50px;
  }
  .text-size {
    font-size: 1rem;
  }
  .text-size h2 {
    font-size: 1.5rem;
  }
}

/* ### Primary

hsl(225, 100%, 94%)
hsl(245, 75%, 52%)

### Neutral

- Very pale blue: hsl(225, 100%, 98%)
- Desaturated blue: hsl(224, 23%, 55%)
- Dark blue: hsl(223, 47%, 23%) */
