@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
:root {
  /* color*/
  --Very-pale-blue: hsl(225, 100%, 98%);
  --Desaturated-blue: hsl(224, 23%, 55%);
  --Dark-blue: hsl(223, 47%, 23%);
  --Pale-blue: hsl(225, 100%, 94%);
  --Bright-blue: hsl(245, 75%, 52%);
}
.text-Desaturated-blue {
  color: var(--Desaturated-blue);
}
.text-size {
  font-size: 1.2rem;
}
.text-Dark-blue {
  color: var(--Dark-blue);
}
body {
  font-family: "Red Hat Display", sans-serif;
  text-align: center;
  line-height: 1.5;
  background-color: var(--Pale-blue);
  background-image: url("images/pattern-background-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.center {
  background-color: hsl(225, 100%, 98%);
  width: 500px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
}

.image-size {
  width: 100%;
  object-fit: contain;
  border-radius: 20px 20px 0 0;
}

h2 {
  font-weight: 700;
}
h4 {
  margin: 25px 10px;
  font-weight: 400;
  color: var(--Desaturated-blue);
}

.price-container {
  background-color: rgba(128, 128, 128, 0.044);
  display: flex;
  border-radius: 16px;
  justify-content: space-between;
  margin: 30px 0;
  padding: 10px 20px;
}

.music-price-container {
  display: flex;
  align-items: center;
}
.annual-price-container {
  padding: 15px;
}
.annual-plan {
  margin-bottom: 8px;
  color: var(--Dark-blue);
  font-weight: 900;
}
.annual-price {
  font-weight: 500;
  color: var(--Desaturated-blue);
}
.icon-size {
  width: 60px;
  /* padding-left: 20px; */
  /* position: relative;
  top: 30px; */
}
.change-text {
  margin-top: auto;
  margin-bottom: auto;
  font-weight: 500;
}

.btn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.btn {
  padding: 18px;
  border-radius: 15px;
  border: none;
}
.proceed-btn {
  margin-bottom: 10px;
  background-color: var(--Bright-blue);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  color: var(--Very-pale-blue);
  font-weight: 700;
}
.cancel-btn {
  font-weight: 700;
  background-color: transparent;
}
.container-margin {
  margin: 50px;
}

/*========= Hover ========== */
.cancel-btn:hover {
  color: var(--Dark-blue);
  font-weight: 900;
}
.proceed-btn:hover {
  opacity: 0.7;
  font-weight: 900;
}
a:hover {
  text-decoration: none;
  opacity: 0.7;
}

@media screen and (max-width: 500px) {
  .container-margin {
    margin: 25px;
  }
  .center {
    width: 90%;
  }
  .icon-size {
    width: 50px;
  }
  .text-size {
    font-size: 1rem;
  }
}

/* ### Primary

hsl(225, 100%, 94%)
hsl(245, 75%, 52%)

### Neutral

- Very pale blue: hsl(225, 100%, 98%)
- Desaturated blue: hsl(224, 23%, 55%)
- Dark blue: hsl(223, 47%, 23%) */
